/* profile area start */
.profile_section {
    background: #E5E5E5;
    z-index: 9999;
    padding-bottom: 300px;
}

.bg {
    position: absolute;
    background-image: url(./img/bg_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.p_50 {
    padding: 0px 50px;
}

.global_header {
    padding-top: 100px;
    padding-bottom: 80px;
}

.global_herder_title {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
}

.profile_area {
    background: rgb(255, 255, 255);
    border-radius: 15px;
}

.profile_inner {
    padding-left: 27px;
    padding-top: 70px;
}

.profile_row {
    display: flex;
    align-items: center;
    border-bottom: 3px solid #F3F3F3;
}

.profile_col_1 {
    width: 50%;
}

.profile_col_2 {
    width: 50%;
    text-align: left;
}

.profile_col_1 h4 {
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: #000000;
}

.profile_col_2 h5 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
}

.profile_btn {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #26AB43;
    border: none;
    background: none;
    padding: 29px 0px;
}

/* profile area end */

/* cart area start  */
.cart_inner_arae {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    padding-bottom: 100px;
}

.cart_h_title {
    gap: 40px;
}

.w_30 {
    width: 37%;
}



/* .row_gap_item {
    gap: 36px;
} */

.pl_30 {
    padding-left: 30px !important;
}

.cart_h_title h5 {
    padding: 20px 0px;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;

    color: #000000;
}

.row_left_border .cart_row:last-child {
    border-bottom: 0 !important;
}

.border_innrer_left {
    border-left: 3px solid #CCCCCC;
}

.cart_row:nth-child(1) {
    border-top: 0 !important;
}

.cart_row {
    border-bottom: 3px solid #CCCCCC;
    border-top: 3px solid #CCCCCC;
    transform: rotate(-0.09deg);
    padding: 25px 0;
    line-height: 40px;
}

.cart_row:nth-child(n+1) {
    border-bottom: 0;
}

.cart_row:last-child {
    border-bottom: 3px solid #CCCCCC !important;
}

.inner_row:last-child {
    border-bottom: 0 !important;
}

.common_title h6 {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    padding-left: 20px;
}

.quantity_gap {
    gap: 30px;
}

.minus,
.plus {
    width: 24px;
    height: 24px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.minus span,
.plus span,
.value span {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-top: -7px;
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* table cart */
.cart_table tr {
    border-bottom: 3px solid #CCCCCC !important;
}

.table_row_cart td {
    padding: 30px 0;
}

.w_40 {
    width: 40%;
}

.conmon_left {
    left: -44px;
}

.conmon_left1 {
    left: -36px;
}

.table.cart_table {
    background: rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 20px;
}

.inner_table tr:last-child {
    border-bottom: 0 !important;
}

.proceing_billing {
    padding: 50px;
}

.proceing_billing_btn {
    width: 100%;
    background: #D6CE15;
    border-radius: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 35px;
    color: #000000;
    height: 70px;
    border: 0;
}

/* history start */
.searh_box_header_input {
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 2px 40px;
}

.input_seach_history.form-control {
    background: #D9D9D9;
    border: 0;
    padding: 15px;
}

.input_seach_history:focus {
    outline: 0;
    box-shadow: none;
}

.button_active_arae {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.common_btn_btn {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #26AB43;
    background: #FFFFFF;
    border-radius: 15px;
    border: none;
    width: 50%;
    padding: 15px;
}

.cancel_btn {
    color: #000000;
    background: #D9D9D9;
}

/* history card start */
.history_header {
    padding-bottom: 50px;
}

.history_card_area_box {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 70px;
}

.history_title_card_left h4,
.history_title_card_right h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.history_title_card_left h4 {
    color: #000000;
}

.history_title_card_right h4 {
    color: #AFAFAF;
}

.history_card_area_box_gray {
    background: #D9D9D9;
}

.history_card_area_box_gray .history_title_card_right h4 {
    color: #fff;
}

/* history card end */

/* order history start */
.history_calculation_sidebar {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 40px 50px;
}

.history_product_box {
    gap: 40px;
    background: #F6F6F6;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px 0 30px 55px;
}

.history_product_content h5,
.delivery_titile {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.history_product_quantity {
    gap: 35px;
}

.total_price h6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    padding-top: 6px;
}

.sub_total_box .history_title_card_left h4 {

    color: #AFAFAF;
}

.sub_total_box .history_title_card_right h4 {
    font-weight: 500;
    color: #000000;
}

.delivery_address h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.order_cancel_btn {
    background: #F70732;
    border-radius: 10px;
    width: 100%;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* order history end */

/* subscription start  */
.subscription_header_title_order {
    position: relative;
    right: -115px;
}

.order_add_items {
    background: #FFFFFF;
    border-radius: 15px;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    color: #000000;
    border: 0;
    padding: 15px 35px;
}

.subscription_titile h4 {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #FFFFFF;
}

.subscription_header_box_area {
    background: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
}

.subscription_description p {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.manage_wallet_btn {
    background: #D9D9D9;
    border-radius: 8px;
    border: 0;
    padding: 10px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.available_balance {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
}

.available_balance span {
    font-weight: 700;
}

.subscription_title_item {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.ml_price {
    background: #DBD432;
    border: 1px solid #DBD432;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding: 6px 12px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.order_remove_item {
    border: 1px solid #000000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding: 6px 20px;
}

.total_price h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #AFAFAF;
}

.price_del span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.price_order {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.discount {
    background: #26AB43;
    border-radius: 3px;
    font-weight: 600;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    display: inline-block;
    padding: 8px 10px;
    position: relative;
    top: -7px;
    left: 15px;
}

.order_delivery_address .history_title_card_left h4 {
    font-size: 16px;
}

.order_delivery_address .history_title_card_right h4 {
    font-weight: 400;
    color: #000;
    font-size: 16px;
}

.skip_cancel_btn {
    background: #DBD432;
    color: #000000;
}

/* transaction start */
.transactions_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 18px;
}

.transaction_des h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.transactions_price {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F70732;
    padding-right: 20px;
}

.wallet_card_box {
    padding: 35px;
}

.wallet_price {
    background: #F6F6F6;
    border: 1px solid #F2F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.wallet_price h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}

.wallet_input {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #AFAFAF;
    border: 0;
    background: #F6F6F6;
    padding-left: 20px;
}

.wallet_input:focus {
    color: #AFAFAF;
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    outline: 0;
    box-shadow: none
}

/* responsive start */
@media (max-width: 768px) {
    .subscription_header {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .subscription_header_title_order {
        right: 0;
        padding-bottom: 20px;
    }

    /* my profile  */
    .profile_col_2 h5 {
        font-size: 20px;
    }

    .profile_col_1 h4 {
        font-size: 20px;
    }

    .profile_thum {
        text-align: center;
    }

    .profile_thum img {
        width: 50%;
        height: 50%;
    }

    /* cart_row */
    .cart_inner_arae {
        padding-bottom: 50px;
        overflow-x: scroll;
        width: 100%;
    }

    .cart_h_title h5 {
        font-size: 16px;
    }

    .common_title h6 {
        font-size: 15px;
    }

    .cart_row {
        padding: 15px 0;
    }

    .proceing_billing {
        padding: 30px;
    }
}

@media (max-width: 425px) {
    .p_50 {
        padding: 0px 20px;
    }

    .global_herder_title {
        font-size: 38px;
    }

    .global_header {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .history_calculation_sidebar {
        padding: 40px 20px;
    }

    .history_product_box {
        padding: 30px 0 30px 10px;
    }

    .transaction_des h4 {
        font-size: 16px;
    }

    .transactions_price {
        font-size: 16px;
    }

    /* history  */
    .history_card_area_box {
        padding: 28px;
    }

    .history_product_box {
        gap: 5px;
    }

    .history_title_card_left h4,
    .history_title_card_right h4 {
        font-size: 16px;
    }

    .history_row_item {
        gap: 50px !important;
    }

    .order_add_items {
        font-size: 20px;
        padding: 5px 35px;
    }

    .subscription_titile h4 {
        font-size: 18px;
        line-height: 30px;
        color: #000;
    }

    /* profile start */
    .profile_d_col {
        flex-direction: column;
    }

    .profile_d_col .profile_col_1,
    .profile_d_col .profile_col_2 {
        width: 100%;
    }

    .profile_col_1 {
        width: 45%;
    }

    .profile_col_1 h4 {
        font-size: 14px;
    }

    .profile_col_2 h5 {
        font-size: 14px;
    }

    .profile_btn {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .global_herder_title {
        font-size: 34px;
    }

    .common_btn_btn {
        font-size: 26px;
        padding: 6px;
    }

    .history_card_area_box .history_row_item {
        gap: 0px !important;
    }

    .history_row_item {
        gap: 16px !important;
    }

    /* wallet  */


    .subscription_description p {
        font-size: 16px;
    }

    .manage_wallet_area {
        flex-direction: column;
        gap: 20px;
    }

    .subscription_p_box {
        flex-direction: column;
        justify-content: center;
    }

    .subscription_p_box .product_thum {
        width: 100%;
        text-align: center;
    }

    .subscription_p_box .history_product_content {
        width: 100%;
    }

    .subscription_p_remove {
        text-align: center;
    }

}

@media (max-width: 320px) {
    .global_herder_title {
        font-size: 38px;
    }

    .history_calculation_sidebar {
        padding: 40px 4px;
    }

    .history_card_area_box .history_row_item {
        flex-direction: column;
    }

    .history_product_box {
        flex-direction: column;
    }
}