body {
    font-family: 'Mulish', sans-serif;
    background-color: #EDEDED;
}

button {
    border: none;

}





.proceed_btn button+button {
    display: none;
}

.pt_50 {
    padding-top: 50px;
}

.plr_40 {
    padding-left: 30px;
    padding-right: 30px;
}

.font_w_b {
    font-style: normal;
    font-weight: 700;
}

/* bundle start */
.bundle_sub_section {
    position: relative;
    padding: 70px 0;
    overflow: hidden;
}

.bundle_bg_shape {
    position: absolute;
    right: -44px;
    bottom: 3px;
    background-image: url(./image/bg_shape.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
}

.bundle_bg_warp {
    padding: 326px 0PX 326px 326px;
}

.bundle_heading {
    display: flex;
    align-items: center;
    gap: 40px;
}

.bundle_heading h1 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 55px;
    color: #3A3A3A;
}

.add_more_btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    color: #252525;
    border: navajowhite;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 8px 25px;
}


.bundle_wrap p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    color: #484848;
}

.cat h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.105em;
    color: #000000;
}

.bundle_item {
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 25px;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.thum {
    position: relative;
    margin: -34px;
}

.thum img {
    width: 100%;
}

.bundle_text {
    padding-left: 20px;
}

.bundle_text h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #667D0E;
}

.bundle_text p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.105em;
    color: #A5A5A5;
}

.bundle_footer_btn {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove_btn button {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    background: #A19DAD;
    border-radius: 4px;
    border: none;
    padding: 5px 20px;
}

.select_price button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.105em;
    color: #000000;
    padding: 6px 14px;
    background: #C4C4C4;
    border-radius: 5px;
}

/* sub total  */
.bundle_sub_total_item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
}

.sub_total_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub_total_title h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

.sub_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

.sub_discount_title h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.105em;
    color: #8F8F8F;
}

.discount_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.105em;
    position: relative;
    color: #000000;
}

.discount_price::before {
    content: "";
    position: absolute;
    width: 114px;
    height: 2px;
    background: #000;
    top: 14px;
    left: -6px;
}

.offer_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 68px;
    letter-spacing: 0.105em;
    color: #000000;
    position: relative;
}

.offer_badge {
    position: absolute;
    top: 0;
    left: 230px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    background: #30AC1B;
    font-size: 17px;
    line-height: 21px;
    padding: 5px 15px;
    color: #FFFFFF;
}

.subscription_btn {
    background: #53900F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px 50px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    width: 100%;
}

.subscription_btn img {
    margin-left: 30px;
}


.skip_btn,
.cancel_btn {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    background: #777777;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px 30px;
    width: 100%;
}

.cancel_btn {
    background: #EE3911;
}

/* bundle end */


/* boxing preview  */
.coupon_title h3 {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

.coupon_link a {
    padding-bottom: 4px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.105em;
    text-decoration-line: underline;
    color: #8F8F8F;
    display: block;
}

.sub_area_item {
    background: #FFFFFF;
    border: 3px solid #7E51FF;
    border-radius: 11px;
    padding: 16px 16px 16px 16px;
    margin-bottom: 30px;
    position: relative;
}

.check_out_sub {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.105em;
    color: #565656;
}

.sub_area_item h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.105em;
    color: #522FB5;
    position: relative;
}

.sub_text_content p {
    padding: 16px 70px 16px 16px;
    background: #00EB7A;
    width: max-content;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.105em;
    color: #000000;
}



.sub_box_shape1::after,
.sub_box_shape2::after {
    content: "";
    width: 25px;
    height: 25px;
    background: #7e51ff;
    position: absolute;
    right: 0;
    border-radius: 50%;
}

.sub_box_shape2::after {
    background: #fff;
    border: 3px solid #7E51FF;
}

.new_year_coupon {
    background: #1CE047;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.new_year_coupon .coupon_title h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

.new_year_coupon .coupon_title h3 img {
    margin-left: 30px;
    margin-top: -5px;
}

.new_year_coupon .coupon_link a {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.105em;
    text-decoration-line: underline;
    color: #000000;
}

/* bundle created */
.check_out_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_btn {
    background: #28B895;
    border-radius: 7px;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.105em;
    color: #000000;
    padding: 7px 50px;
}

.processed_checkout {
    background: #53900F;
    border-radius: 7px;
    padding: 20px;
    color: #fff;
    margin: 13px 0;
}

.processed_checkout h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.processed_checkout p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.finter_area {
    background: #D9D9D9;
    padding: 20px 0;
    margin-top: 30px;
}

.button_area button {
    background: #53900f;
    border-radius: 10px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    padding: 10px 60px;
    margin-right: 20px;
    border: 3px solid #53900f;
    transition: all 0.5s;
    margin-bottom: 30px;

}

.button_area button:hover {
    background: white;
    color: #53900f;
}

.check_des_area {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 20px;
    color: #fff;
    margin-top: 30px;
    background: #303754;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.check_des_area h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.chek_text p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.total_text_price h5 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

.total_text_price h5 span {
    font-weight: 700;
}

.pagination_button button {
    background: #53900F;
    border-radius: 13px;
    padding: 3px 37px;
    border: 3px solid #53900F;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    transition: all 0.5s;
}

.pagination_button button:hover,
.pagination_button .p_skip_btn {
    background: #fff;
    color: #53900f;
}

.pagination_button .prev_btn img {
    margin-right: 10px;
    margin-top: -5px;
}

.pagination_button .next_btn img {
    margin-left: 10px;
    margin-top: -5px;
}

.pagination_button .p_skip_btn:hover {
    background: #53900f;
    color: #fff;
}


/* checkout */
.monthly_arae {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 27px;
    padding: 30px;
    display: block;
    overflow: hidden;
}

.monthly_arae button {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 10px;
    width: max-content;
    margin-bottom: 30px;
}

.month_content p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 57px;
    color: #000000;
    display: flex;
    align-items: center;
}

.check_out_price_area {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check_out_price_area .bundle_sub_total_item {
    flex-basis: 50%;
}

.check_out_price_area .check_out_wallet {
    flex-basis: 50%;
}

.check_out_price_area .sub_discount_title h3 {
    font-size: 41px;
    line-height: 51px;
    letter-spacing: 0.105em;
    color: #8F8F8F;
}

.add_price.select_price {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}

.add_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #000000;
}

.add_price span {
    font-weight: 700;
}

.processed_checkout span {
    text-decoration: underline;
}

/* wallet  */
.wallet_main_area {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    overflow: hidden;
}

.wallet_history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #D3D3D3;
}

.wallet_left {
    display: flex;
    gap: 20px;
}

.w_content {
    margin-top: 8px;
}

.w_content h5 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.105em;
    color: #303754;
}

.w_content p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.105em;
    color: #B0B0B0;
}

.w_price {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.105em;
    color: #000000;
}

.wallet_Balance_area h3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

.w_b_item {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px;
}

.w_b_item span {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.105em;
    color: #474747;
}

.add_money_box h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #303754;
}

.add_money_box .input-group-text {
    background-color: transparent;
    border: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 35px;
    letter-spacing: 0.105em;
    color: #000000;
}

.add_money_box .form-control {
    border: 0 !important;
    border-bottom: 1px solid #6F6F6F !important;
    padding: 0;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 33px;
    line-height: 41px;
    letter-spacing: 0.105em;
    color: #7A7A7A;
}

.add_money_box .form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.proceed_btn button {
    background: #53900F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 10px 20px;
    width: 100%;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
}

.m_heading {
    padding: 10px;
    text-align: left;
    background: #F9F249;
    margin-bottom: 50px;
    display: none;
}

.transactions {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 0.105em;
    color: #000000;
}

/* thank */
.thunk_section {
    background: #fff;
    padding: 80px 0;
}

.thank_thum {
    width: 50%;
    margin: auto;
}

.thuk_content {
    overflow: hidden;
}

.thuk_content h4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.105em;
    color: #000000;
}

.thuk_content p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.105em;
    color: #858585;
}

.thank_btn {
    text-align: center;
}

.thuk_content p span {
    text-decoration: underline;
}

.shopping_btn,
.bookings_btn {
    background: #30AC1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 6px 29px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 60px;
    letter-spacing: 0.105em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.bookings_btn {
    background: #FFFFFF;
    color: #727272;
}

/* responsive  */
@media (max-width: 1140px) {
    .m_heading {
        display: none;
    }

    .transactions {
        display: none;
    }

    .proceed_btn button+button {
        display: none;
    }
}

@media (max-width: 425px) {
    .bundle_heading {
        flex-direction: column;
        gap: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .check_out_heading {
        flex-direction: column;
        text-align: center;
    }

    .check_des_area {
        flex-direction: column;
        text-align: center;
    }

    .button_area {
        text-align: center;
    }

    .bundle_wrap p {
        text-align: center;
    }

    .bundle_text h3 {
        font-size: 20px;
    }

    .remove_btn button,
    .select_price button {
        padding: 5px 6px;
    }

    .pagination_area {
        flex-direction: column;
        gap: 20px;
    }

    .pagination_button {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .monthly_arae {
        text-align: center;
    }

    .monthly_arae button,
    .month_content p {
        font-size: 14px;
    }

    .check_out_price_area {
        flex-direction: column;
    }

    .offer_badge {
        top: -27px;
        left: 147px;
    }

    /* wallet_Balance_area */
    .wallet_section {
        padding-top: 0;
    }

    .wallet_history {
        display: block;
    }

    .wallet_left {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .w_price {
        display: none;
    }

    .wallet_section .w_col_reverse {
        flex-direction: column-reverse;
    }

    .m_heading {
        display: block;
    }

    .transactions {
        display: block;
    }

    .proceed_btn button+button {
        display: block;
    }

    .wallet_section .bundle_wrap {
        display: none;
    }

    .wallet_section .add_money_item_area {
        display: none;
    }

    .proceed_btn button:first-child {
        display: none;
    }

    .thuk_content h4,
    .thuk_content p {
        font-size: 22px;
        line-height: 35px;
    }

    .shopping_btn,
    .bookings_btn {
        font-size: 18px;
        line-height: 35px;
    }

}

@media (max-width: 320px) {
    .bundle_item {
        flex-direction: column;
    }

    .thum {
        margin: 0px;
    }

    .bundle_text h3 {
        font-size: 16px;
    }

    .bundle_footer_btn {
        flex-direction: column;
    }


    .monthly_arae button {
        font-size: 10px;
    }

    .month_content p {
        font-size: 17px;
        line-height: 32px;
        text-align: left;
    }
}